.header {
  height: 85vh; // fallback for when `clip-path` property unsupported
  background-image:
    linear-gradient(
      to right bottom,
      rgba($color-primary-light, .8),
      rgba($color-primary-dark, .8)
    ),
    url('../img/hero-small.jpg');
  background-size: cover;
  background-position: top;
  position: relative;


  @supports (clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)) or
            (-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%))
  {
    height: 95vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }


  // HD/Retina devices
  // if on @2x device AND at least 600px screen width OR over 2000px screen width even on @1x, display larger img
  @media (min-resolution: 192dpi) and (min-width: 37.5em),
         (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
         (min-width: 125em) {
    background-image:
      linear-gradient(
        to right bottom,
        rgba($color-primary-light, .8),
        rgba($color-primary-dark, .8)
      ),
      url('../img/hero.jpg');
  }

  @include respond(tab-port) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  // @include respond(phone) {
  //   -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  //           clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  // }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
