.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh; // 95vh - 75vh = 20vh (see: `.header`)

  @include respond(tab-port) {
    padding: 20rem 0;
  }

}

.section-features {
  padding: 20rem 0;
  background-image:
    linear-gradient(
      to right bottom,
      rgba($color-primary-light, .8),
      rgba($color-primary-dark, .8)
    ),
    url('../img/nat-4.jpg');
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg);

  @include respond(tab-port) {
    padding: 10rem 0;
  }

  & > * { // recompensate skewness to direct child only
    transform: skewY(7deg);
  }

}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }

}

.section-stories {
  padding: 15rem 0;
  position: relative;

  @include respond(tab-port) {
    padding: 10rem 0;
  }

}

.section-book {
  padding: 15rem 0;
  background-image:
    linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-primary-dark
    );

  @include respond(tab-port) {
    padding: 10rem 0;
  }

}

.book {
  // solid color gradient with hard color stops:
  // 0%-50% slightly transparent white gradient,
  // 50%-100% fully transparent so bg img beneath exposed
  background-image:
    linear-gradient(
      105deg,
      rgba($color-white, .9) 0%,
      rgba($color-white, .9) 50%,
      transparent 50%
    ),
    url('../img/nat-10.jpg');
  background-size: 100%; // similar to `cover`, ensures entire img occupies container; `100% auto` implied, second value: height
  border-radius: $default-border-radius;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

  @include respond(tab-land) {
    // increase form container to 65%
    background-image:
      linear-gradient(
        105deg,
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 65%,
        transparent 65%
      ),
      url('../img/nat-10.jpg');
    background-size: cover; // ensures entire img occupies container, zooms in if needed so no empty gaps, may crop excess but maintains aspect ratio
  }

  @include respond(tab-port) {
    // make form occupy full width of container and place img underneath in background
    background-image:
      linear-gradient(
        to right,
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 100%
      ),
      url('../img/nat-10.jpg');
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 65%; // increase width of form to 65% on smaller devices
    }

    @include respond(tab-port) {
      width: 100%; // make form full width of container
    }

  }

}
